# Ignore specific directory
University, Cisco, OpenEDG/Assessment/

# Ignore specific files
University, Cisco, OpenEDG/Labs to be revisited.txt
University, Cisco, OpenEDG/labs_to_be_revisited.directory_tree.png
times_table_practice.py
misc_tests.py
misc_tests2.py

